#contenedor {

	width: 900px;
	margin: 0 auto;
}

#arriba{

	width: 900px;
	height: 100px;
	background: #40E0D0;
}
h1{
	color: blue;
}
#cuerpo
{
	width: 800px;
	height: 400px;
	background: #E0FFFF;
}